# This is dotfiles repository's gitignore (not a global gitignore).

# Since the worktree is HOME, by default ignore everything...
/*

# except some specific files
!/.*rc
!/.gitignore
!/.global_gitignore

# and gpg configuration
!/.gnupg/
/.gnupg/*
!/.gnupg/gpg.conf

# and ssh configuration
!/.ssh/
/.ssh/*
!/.ssh/config

# and user-wide Vagrantfile
!/.vagrant.d/
/.vagrant.d/*
!/.vagrant.d/Vagrantfile

# and some specific subdirectories of .config/
!/.config/
/.config/*
!/.config/bash
/.config/bash/local/*
!/.config/git
!/.config/ranger
!/.config/pulse/presets/*

# however, do ignore these:
.config/git/gitk
.config/git/config.local
.config/bash/config.local
.config/bash/00-paths-override.sh
.dmrc
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.yarnrc
